#root {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: rgb(1, 19, 106);
    color: white
}


.card {
    background-color: blue;
    color: white;
    padding: 0px;
    text-align: center;
    min-height: 10rem;
    border: white, solid;
    cursor: pointer;
    max-height: 15vh;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 14wh;
    flex: 1;
    align-items: center;
    margin-bottom: 0rem;
  }

  
  .container {
    display: flex;
    margin-bottom: 0rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .category-title {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .category-name {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(29, 41, 53);
    color: white;
  }

  .newGame {
    color: rgb(198, 198, 198);
  }

  .selectGame {
    color: rgb(198, 198, 198);;
  }

  .warning {
    background-color: white;
    color: black;
  }


  .counter {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 0rem;
    height: 8rem;
    width: 9rem;
    color: rgb(0, 26, 71);
  }


  .counter-container {
    position: fixed;
    text-align: center;
    display: flex;
    gap: 1rem;
    bottom: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    z-index: 100000;
  }


  .value-buttons {
    display: grid;
    gap: 10.5rem;
    border: 1px solid white;
  }

  .add-button {
    background-color: green;
  }

  .remove-button {
    background-color: red;
  }

  .options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 4rem;
  }

  .team-names {
    margin-left: 2rem;
    height: 4rem;
    font-size: 4rem;
  }

  .submit-teams {
    margin-left: 2rem;
    height: 4rem;
    font-size: 3rem;
    background-color: green;
    color: white;
  }

  .authentication-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
  }


  .app-container {
    padding-left: 0.5rem;
  }

